:root {
  --primary-color: rgb(141, 123, 104);
  --secondary-color: rgb(164, 144, 124);
  --tertiary-color: rgb(200, 182, 166);
  --support-color: rgb(241, 222, 201);
  --highlight-color: rgb(252, 255, 196);
  --highlight-font: "Osake";
  --basic-font: "Times Neew Roman";
  --highlight-font-color: rgb(77, 54, 31);
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Osake";
  src: url("fonts/osake.eot");
  src: url("fonts/osake.eot?") format("embedded-opentype"),
    url("fonts/osake.woff2") format("woff2"),
    url("fonts/osake.woff") format("woff"),
    url("fonts/osake.ttf") format("truetype"),
    url("fonts/osake.svg") format("svg");
}
body {
  background-color: var(--support-color);
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.bg-smoke {
  background-color: var(--primary-color) !important;
}
nav {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 32px;
  font-family: "Osake", Fallback, sans-serif;
}
h2 {
  font-size: 48px;
  font-family: "Osake", Fallback, sans-serif;
}
h3 {
  font-size: 24px;
  color: var(--text-color);
}
p {
  color: var(--highlight-font-color);
}
@media (min-width: 992px) {
  .app-picture {
    max-width: 500px;
    margin: 1rem;
  }
}
.emoji {
  max-width: 35px;
  height: auto;
}
.accordion-button {
  background-color: var(--tertiary-color);
}
.accordion-body {
  background-color: var(--support-color);
}
.accordion-header {
  font: var(--basic-font);
}
.to-the-top-button {
  background-color: var(--primary-color);
  border: 2px solid var(--highlight-font-color);
  border-radius: 3px;
  color: var(--highlight-font-color);
  background-color: var(--primary-color);
  padding: 15px;
  margin: 20px;
}
.to-the-top-button:hover {
  color: var(--highlight-color);
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: var(--highlight-color);
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
